<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeFBh0_HoG1qNnM1M77a3msvXWkZyEmdU</string>
	<key>GCM_SENDER_ID</key>
	<string>197146071650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deneme1</string>
	<key>PROJECT_ID</key>
	<string>admin-application-23320</string>
	<key>STORAGE_BUCKET</key>
	<string>admin-application-23320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197146071650:ios:eed15f9d19f5967047f73b</string>
</dict>
</plist>